/* container */
:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;


}

/* global/base */
body {
    color: var(--color-primary-dark);
}

ul {
    list-style-type: none;
}

/* button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    cursor: pointer;

}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* link */
.headerfoter-link {

    color: var(--color-primary-light);
}

.headerfoter-link:hover {
    color: var(--color-brand-light);

}

/* hero section */
.hero {
    color: var(--color-primary-light);
}

.hero .akcent {
    color: var(--color-brand-dark);
}

/* advantages section */
.advantages-list {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
}

.section-title .accent {
    color: var(--color-brand-dark);

}