* {
    box-sizing: border-box;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: purple;
    padding: 10px 12px 10px 12px;
    /* padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px; */

    border: 5px solid darkblue;
    border-radius: 5px;
    margin: 10px;
}